@import "tailwindcss";

@theme {
  --color-primary-400: hsl(349, 100%, 61%);
  --color-primary-500: hsl(349, 100%, 51%);
  --color-primary-600: hsl(349, 100%, 41%);
  --color-primary-700: hsl(349, 100%, 31%);
  --color-primary-800: hsl(349, 100%, 21%);
  --color-primary-900: hsl(349, 100%, 11%);

  --font-lucasbnb:
    "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}
